body{
    background: linear-gradient(112deg, orange 32%, #FFFFFF 33%);

}
h1{
    margin-top: 15px;
    font-family: 'Staatliches', cursive;
    color: lightskyblue;
}
h3{
    font-family: 'Staatliches', cursive;
}
div{
    font-family: 'Raleway', sans-serif;
}
.fotoCurri{
    max-height: 250px;
}
.datosPersonales{
    margin-top: 15px;
}
.datosPersonales p{
    display: flex;
    align-items: center;
}
.datosPersonales ion-icon{
    margin-right: 5px;
    font-size: 24px;

}
.header{
    border-style: solid;
    border-width: 3px;
    padding: 0px 0px 0px 0px; 
    margin-top: 15px;
    border-color: lightskyblue;
    background: white;
}
.resumeItem{
    border-style: solid;
    border-width: 3px;
    margin-top: 7px;
    border-color: lightskyblue;
    background: white;
    padding: 15px;
}
.row.multiplesFilas{
    margin: 0;
}
.container-fluid {
    padding: 0px;
}
